
.page {
    display: flex;
    width: 100%;
    height: 100%;
}

nav {
    width: 20%;
    height: 100%;
    background-color: yellow;
    border-right: 4px solid brown;
}

main {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    height: 15%;
    width: 100%;
    border-bottom: solid;
    box-sizing: border-box;
}

.header-title {
    align-self: center;
    margin-left: 50px;
    font-size: xx-large;
    
}

section {
    height: 85%;
    width: 100%;

}